* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    font-family: Circular;
}

@font-face {
    font-family: Circular BOLD;
    src: url(fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
}

@font-face {
    font-family: Circular Medium;
    src: url(fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
}

@font-face {
    font-family: Circular BOOK;
    src: url(fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
}

@font-face {
    font-family: Circular K1;
    src: url(fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2);
}

@font-face {
    font-family: Circular K2;
    src: url(fonts/KFOmCnqEu92Fr1Mu4mxK.woff2);
}

#sec2-p1-main {
    height: 480px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #484848;
    border-radius: 16px;
}

#p1__main {
    background-image: url(images/2595054e-d1d9-4fde-8046-58d51fcb3164.webp);
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    color: #fff;
}

#p1__main > h2 {
    
}